.letter{
    color: hotpink;
}

.letter:hover{
    color: indigo;
}

.cen{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

button{
    background-color: blue;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;

}

button:hover{
    background-color: blueviolet;
}
