.greek{
    font-family: 'Manrope', sans-serif;
}

.top{
    text-align: center;
}

.cen{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

button{
    background-color: blue;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;

}